{
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"/ui/",
		"/pages/",
		"/components/",
		"^../(.*)",
		"^./(.*)",
		"/module.scss/"
	],
	"importOrderSortSpecifiers": true
}