@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import 'normalize.scss';
@import 'vars';

body {
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	font-size: 22px;
	background-color: $background-color;
	color: $accent-color;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
input {
	color: $accent-color;
}
